@{
//ViewBag.Title = "Home Page";
}

<section class="content">
    <div class="container-fluid h-100">
        <div class="d-flex justify-content-center align-items-center"
             style="height: calc(100vh - 100px);">
            <img src="~/Content/Assets/bg1-removebg-preview.png"
                 alt="Dashboard"
                 style="max-width: 100%; max-height: 100%; object-fit: contain;">
        </div>
    </div>
</section>